<p>Nombre del empleado: {{nombre }}</p>

<p>Apellido del empleado: {{apellido }}</p>

<p>Edad del empleado: {{edad >= 18 ? "Es mayor de edad" : "Es menor de edad"}}</p>

<p>Empresa del empleado: {{empresa.value }}</p>

<!-- text intermpolation -->
<!-- al igualarlo a 0 el evento se ejecuta  -->
<!-- hacemos un property binding con disabled, la propiedad va entre corchetes -->
<p>Introduce la empresa <input type="text" #empresa (input)="0"  [disabled]="habilitarInput"></p>

<p>Registrado <input type="checkbox" name="registro" id="registro" [checked]="usuRegistrado"></p>

<!-- llamamos a la funcion -->
{{getRegistroUsuario()}}
